.header {
  width:100%;
  display:flex;
  justify-content: center;
  background-color: white;
  
  box-shadow: $box-shadow-lg;
  border-radius:6px;
  min-height: 60px;
  box-sizing: border-box;
  

 .headerContent {
    width: 100%;
    padding: 10px 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }

  .leftSection{
    display: flex;
    align-items: center;
    gap:12px;
    cursor: pointer;
  }
  .logoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 101, 245);
    border-radius: $border-radius-md;
    width: 35px;
    height: 35px;
  }

  .mergeLogo {
    width: 28px;
    height: 28px;
  } 

  .title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    

    h2{
      font-size:14px;
      margin:0;
      padding:0;
    }
    p{
      font-size:10px;
      color:gray;
      margin: 0;
    }
  }

  .rightSide{
    display: flex;
    align-items: center;
    position: relative;

    

    .userInfo{
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: $border-radius-pill;
      border: 1px solid #a8a5a573;
      padding: 6px;
      gap: 4px;

      &::after {
        display: none !important;
      }
    }

    .userPicContainer{
      width:35px;
      height:35px;
      display:flex;
      flex-direction: row;
      
    }
    .userPic{
      width: 100%;
      height: 100%;
      border-radius:50%;
    }
    .usernameContainer{
      align-items: center;
      justify-content: center;
      gap:6px;
    }
    .username {
      font-size:14px;
      font-weight: 500;
    }
    
    .customDropdownMenu{
      min-width: 100%;
      width: 100%;
      border: none;
      border-radius: $border-radius-lg;
      padding: 8px;
      box-shadow: $box-shadow-md;
    
      .LogoutBtn{
        background-color: $bgcolor-ofEachFields;
        padding:8px;
        border-radius: $border-radius-md;
        display:flex;
        align-items: center;
        justify-content: center;
        gap:6px;
        color: black !important;

        &:active,&:focus{
          color:black !important;
          background-color: rgba(223, 227, 230, 0.5);
        }

        .logoutIcon{
          color:black;
          stroke:black;
        }
    }
    
    }

  }

}

